<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
		#RewriteBase /git/
    RewriteRule ^ index.php [L]
</IfModule>
<Files config.ini>
    order allow,deny
    deny from all
</Files>
